@mixin atMedium {
	@media (min-width: 1024px) {
		@content;
	}
}
.blackboard {
	font-family: 'Signika Negative';
	&__top-img {
		display: flex;
		background-color: #000;
		background-image: url('/arquivos/pattern.png');
		justify-content: center;
		align-items: center;
		padding: 20px;
		position: relative;
		&::after {
			content: '';
			width: 43px;
			height: 43px;
			background-image: url('/arquivos/canto.png');
			display: flex;
			position: absolute;
			right: 0;
			top: 0;
			border-bottom: 21.5px solid;
		}
		img {
			max-width: 100%;
			width: 70%;
			@include atMedium {
				width: auto;
			}
			@media (max-width: 600px) {
				width: 80%;
			}
			@media (max-width: 400px) {
				width: 90%;
				padding-right: 30px;
			}
		}
	}
	&__row {
		background-color: #000;
		border-bottom: 1px solid #fff;
	}
	.grid {
		display: grid;
		grid-gap: 5px;
		padding-bottom: 10px;
		@include atMedium {
			grid-gap: initial;
			padding-bottom: initial;
		}
		&--wrapper {
			grid-template-columns: 1fr;
			@include atMedium {
				grid-template-columns: 190px 1fr;
				padding: 20px 40px;
			}
		}
		&--3c {
			@include atMedium {
				grid-template-columns: repeat(3, minmax(302px, 1fr));
				grid-template-rows: minmax(60px, 1fr);
				grid-gap: 20px;
			}
		}
		&--6 {
			@include atMedium {
				grid-template-columns: repeat(3, minmax(200px, 1fr));
				grid-template-rows: minmax(60px, 1fr) minmax(60px, 1fr);
				grid-gap: 20px;
			}
		}
		&--6c {
			grid-template-columns: repeat(2, 1fr);
			@include atMedium {
				grid-template-columns: repeat(6, minmax(140px, 1fr));
				grid-template-rows: minmax(60px, 1fr);
				grid-gap: 20px;
			}
		}
		&--5 {
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: minmax(60px, 1fr) minmax(60px, 1fr) 1fr;
			grid-template-areas: 'a b' 'c d' 'e e';
			@include atMedium {
				grid-template-columns: repeat(5, minmax(173px, 1fr));
				grid-template-rows: minmax(60px, 1fr);
				grid-gap: 20px;
				grid-template-areas: 'a b c d e';
			}
			li:last-child {
				grid-area: e;
				a {
					margin: 0 auto;
				}
				@include atMedium {
					grid-area: initial;
					a {
						margin: initial;
					}
				}
			}
		}
	}
	&__tlt {
		color: #ffffff;
		text-align: center;
		font-size: 24px;
		font-weight: 400;
		text-transform: uppercase;
		margin: 20px auto;
		align-self: center;
		justify-self: center;
		@include atMedium {
			margin: 0;
			width: 180px;
		}
	}
	&__list {
		margin: 0;
		padding: 0 10px;
		@include atMedium {
			padding: 0;
		}
	}
	&__item {
		display: flex;
		list-style: none;
		align-items: center;
		justify-content: space-between;
		padding: 15px;
		a {
			text-decoration: none;
			color: #fffefe;
			font-size: 18px;
			font-weight: 400;
			text-transform: uppercase;
		}
	}
	&__item--red {
		background-color: #d70d17;
	}
	&__item--yellow {
		background-color: #fbbf00;
	}
	&__arrow {
		content: '';
		display: inline-flex;
		width: 13px;
		height: 13px;
		border: solid #fbbf00;
		border-width: 3px 3px 0 0;
		transform: rotate(45deg);
		&--red {
			border-color: #d70d17;
		}
	}
	&__preco {
		a {
			color: #1a1a1a;
			font-size: 16px;
			font-weight: 400;
			text-transform: capitalize;
		}
		strong {
			font-size: 22px;
		}
	}
	&__tamanho {
		a {
			display: inline-flex;
			color: #fffefe;
			font-size: 22px;
			font-weight: 700;
			text-transform: uppercase;
			margin: auto;
		}
	}
	&__tipo {
		a {
			color: #1a1a1a;
			font-size: 18px;
			font-weight: 400;
			text-transform: uppercase;
		}
	}
	.container {
		max-width: 1290px;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}
}
