section.blackboard
	.container
		.blackboard__wrapper
			.blackboard__top-img
				img(src="../img/top-svg.png", alt="")
			.blackboard__row
				.blackboard__santo.grid.grid--wrapper
					p.blackboard__tlt ESCOLHA POR <strong>SANTO</strong>
					ul.blackboard__list.grid.grid--6
						li.blackboard__item.blackboard__item--red
							a(href="") Nossa Senhora das Graças
							i.blackboard__arrow
						li.blackboard__item.blackboard__item--red
							a(href="") Nossa Senhora de Fátima
							i.blackboard__arrow
						li.blackboard__item.blackboard__item--red
							a(href="") Jesus Misericordioso
							i.blackboard__arrow
						li.blackboard__item.blackboard__item--red
							a(href="") Nossa Sra. de Guadalupe
							i.blackboard__arrow
						li.blackboard__item.blackboard__item--red
							a(href="") Nossa Senhora Aparecida
							i.blackboard__arrow
						li.blackboard__item.blackboard__item--red
							a(href="") IMAC. Coração de Maria
							i.blackboard__arrow
			.blackboard__row
				.blackboard__preco.grid.grid--wrapper
					p.blackboard__tlt ESCOLHA POR <strong>FAIXA DE PREÇO</strong>
					ul.blackboard__list.grid.grid--5
						li.blackboard__item.blackboard__item--yellow
							a(href="") Até <strong>R$ 50</strong>
							i.blackboard__arrow.blackboard__arrow--red
						li.blackboard__item.blackboard__item--yellow
							a(href="") Até <strong>R$ 100</strong>
							i.blackboard__arrow.blackboard__arrow--red
						li.blackboard__item.blackboard__item--yellow
							a(href="") Até <strong>R$ 150</strong>
							i.blackboard__arrow.blackboard__arrow--red
						li.blackboard__item.blackboard__item--yellow
							a(href="") Até <strong>R$ 200</strong>
							i.blackboard__arrow.blackboard__arrow--red
						li.blackboard__item.blackboard__item--yellow
							a(href="") Até <strong>R$ 250</strong>
							i.blackboard__arrow.blackboard__arrow--red
			.blackboard__row
				.blackboard__tamanho.grid.grid--wrapper
					p.blackboard__tlt ESCOLHA POR <strong>TAMANHO</strong>
					ul.blackboard__list.grid.grid--6c
						li.blackboard__item.blackboard__item--red
							a(href="") <strong>PP</strong>
							i.blackboard__arrow
						li.blackboard__item.blackboard__item--red
							a(href="") <strong>P</strong>
							i.blackboard__arrow
						li.blackboard__item.blackboard__item--red
							a(href="") <strong>M</strong>
							i.blackboard__arrow
						li.blackboard__item.blackboard__item--red
							a(href="") <strong>G</strong>
							i.blackboard__arrow
						li.blackboard__item.blackboard__item--red
							a(href="") <strong>GG</strong>
							i.blackboard__arrow
						li.blackboard__item.blackboard__item--red
							a(href="") <strong>XG</strong>
							i.blackboard__arrow
			.blackboard__row
				.blackboard__tipo.grid.grid--wrapper
					p.blackboard__tlt ESCOLHA POR <strong>TIPO</strong>
					ul.blackboard__list.grid.grid--3c
						li.blackboard__item.blackboard__item--yellow
							a(href="") MASCULINO
							i.blackboard__arrow.blackboard__arrow--red
						li.blackboard__item.blackboard__item--yellow
							a(href="") FEMININO
							i.blackboard__arrow.blackboard__arrow--red
						li.blackboard__item.blackboard__item--yellow
							a(href="") INFANTIL
							i.blackboard__arrow.blackboard__arrow--red
